.page-content {
    height: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    padding-bottom: 5rem;
    width: 100vw;
    transform: translateX(0);
    transition: transform 300ms ease-in;
    overflow: auto !important;
    text-align: center;
}

.page-content-shift {
    transform: translateX(20vw);
    width: 80vw;
}

.row-class {
    margin-top: 3rem;
    padding-bottom: 1rem;
}

/* media queries */

@media only screen and (max-width: 1024px) {
    .page-content {
        width: 100vw;
    }
    .page-content-shift {
        width: 70vw;
        transform: translateX(30vw);
    }
}

@media only screen and (max-width: 600px) {
    .page-content {
        width: 100vw;
    }
    .page-content-shift {
        width: 25vw;
        transform: translateX(75vw);
    }
}

/* media queries */

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}
td{
    text-align: left;
}